/* Grid system
----------------------------------------- */
@import 'helpers';

@col-margin: 4%;

.row {
	.clear-fix;
	position: relative;
	display: block;
	margin-top: @base-line-height;
	margin-bottom: @base-line-height;
}

.col {
	display: block;
	width: 100%;
	float: left;
	margin-top: @base-line-height;
	box-sizing: border-box;

	&:first-child {
		margin-top: 0 !important;
		margin-left: 0 !important;
	}

	&> :first-child {
		margin-top: 0;
	}

	&> .row {
		&:last-child {
			margin-bottom: 0;
		}
	}
}

@media @lt-mobile {
	.col {
		margin-left: @col-margin;
		margin-top: 0;
		width: 100%;
	}

	.span-3-4 {
		width: 74%;
	}

	.span-1-2 {
		width: 48%;
	}

	.span-1-3 {
		width: 30.66%;
	}

	.span-2-3 {
		width: 65.33%;
	}

	.span-1-4 {
		width: 22%;
	}
}
